<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <h2>Page protégée</h2>

    <h3>Ajouter un article</h3>
    <%- include('components/form-post') -%>

    <h3>Liste des articles</h3>
    <% if (data.data) { %>
        Nombre d'articles: <%- data.data.length %>
        <ul class="articles-block">
            <% for(let item of data.data) { %>
                <li class="articles-list">
                    <p>Auteur de l'article: <%- item.author.givenName %> <%- item.author.familyName %></p>
                    <h4>Titre de l'article: <%- item.headline %></h4>
                    <a href="/post/<%- item._id %>" class="articles-see-more">Voir plus</a>
                </li>
            <% } %>
        <ul>
    <% } %>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  